.wrapper {
  --slider-height: 300px;

  max-height: var(--slider-height);
  min-height: var(--slider-height);
  margin-top: 18px;
  padding-bottom: 12px;
}

.slider-img {
  width: 100%;
  height: var(--slider-height);
  object-fit: cover;
  display: block;
  border-radius: 20px;
}

@media (max-width: 1800px) {
  .wrapper {
    --slideshow-height: 270px;
  }
}
