.wrapper {
  --grid-gutter-x: 24px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}
.container {
  padding: 0 44px 74px;
  overflow: hidden;
}

@media (max-width: 740px) {
  .container {
    padding: 0;
  }
}
