.wrapper {
  line-height: 1.6;
  padding: 0 44px 60px;
}
.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
  margin-top: 24px;
  font-size: 1.6rem;
  color: #757575;
}
.aside {
  h4 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #292929;
    margin-bottom: 0;
  }
}
.des {
  font-size: 1.4rem;
  color: #757575;
  margin-top: 4px;
  word-break: break-word;
}
.btnReact {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;

  &.active {
    color: var(--primary);
  }
}

// middle
.heading {
  margin-top: 40px;
  font-size: 3rem;
  line-height: 1.4;
  font-weight: 700;
  color: #222;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;

  .user {
    display: flex;

    img {
      width: 9em;
      height: 9em;
      object-fit: cover;
      border-radius: 50%;
    }

    .time {
      color: #757575;
      margin: 0;
      .dot {
        padding: 0 4px;
        color: #757575;
        font-weight: 500;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.4rem;
      margin-left: 16px;
    }
  }
}
.icon {
  color: #1b74e4;
  margin-left: 4px;
  font-size: 1rem;
}
// box
.box {
  color: #292929;
  word-wrap: break-word;
  font-size: 1.6rem;
  line-height: 1.8;

  img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 2px #0003;
  }

  p {
    margin: 16px 0;
  }

  a[href] {
    color: #2185d0;
    text-decoration: none;
  }

  blockquote {
    margin-left: 0;
    padding: 0 0 2px 20px;
    border-left: 3px solid var(--primary);
    color: #6d6d6d;
    font-weight: 600;
  }
}
.userMenu_avatar {
  border-radius: 50%;
  font-size: 5.6px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7em;
  position: relative;

  .avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 9em;
    height: 9em;
  }

  .adminSignature {
    position: absolute;
    width: 3.2em !important;
    height: 3.2em !important;
    top: -0.2em;
    right: -2em;
  }
}

// tags
.tags {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
}
.tag {
  font-size: 1.4rem;
  color: #666;
  padding: 4px 10px;
  border-radius: 3px;
  background-color: #f2f2f2;
  margin: 8px 8px 0 0;
}
pre {
  padding: 16px;
  margin: 8px 0;
  overflow: auto;
  border-radius: 8px;
  background: #f2f9ff;
}
code {
  padding: 1px 3px;
  border-radius: 3px;
  color: var(--white);
  background-color: #f66c38;
  white-space: pre-wrap;
  word-break: keep-all;
}
